* {
  margin: 0px;
  padding: 0px;
}
body {
  /* background-image: url("images/background.avif"); */
}
.navigation {
  /* background-image: url("images/nav-background.jpg"); */
  width: 100%;
  height: 100px;
  background-color: rgba(3, 10, 87, 0.841);
}
.nav {
  display: flex;
  list-style: none;
  align-items: center;
  vertical-align: middle;
}
.menu_icon {
  padding-left: 2%;
}
.nav_img {
  height: 100px;
  width: 33%;
  padding-left: 30%;
  padding-right: 38%;
}
.nav_img img {
  min-width: 30px;
  min-height: 40px;
  max-width: 130px;
  max-height: 70px;
  display: inline;
  padding-top: 15px;
}
.nav_img p {
  display: inline;
  font-size: 35px;
  vertical-align: 16px;
  color: white;
}
.nav a img {
  min-width: 50px;
  min-height: 50px;

  padding-right: 0px;
}
.logOut {
  width: 70px;
  height: 60px;
  outline: none;
  background: transparent;
  vertical-align: middle;
  background-color: aqua;
  border-radius: 25px;
  align-items: center;
  vertical-align: middle;
  padding-left: 20px;
}
.logOut button {
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
  border-radius: 25px;
}
.logOut button:hover {
  box-shadow: 0 0 100px rgb(255, 0, 234), 0 0 25px cyan;
}
.logOut button:active {
  background-color: rgba(39, 229, 10, 0.846);
  opacity: 0.7;
}
.logOut p {
  display: inline;
  vertical-align: 15px;
  text-decoration: none;
  color: red;
  font-size: 20px;
}

.logOut img {
  /* margin-left: 30px; */
  margin-top: 10px;
  max-width: 27px;
  max-height: 27px;
  padding-right: 20px;
  padding-top: 6px;
  padding-left: 1px;
}
/* Side BAr */
.sidebar {
  background-color: rgba(194, 193, 231, 0.784);
  margin-top: 100px;
  position: fixed;
  top: 0px;
  left: -4000px;
  height: 100vh;
  width: 17%;
  z-index: 999;
  /* background-image: url("images/nav-background.jpg"); */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
  transition: left 400ms ease;
  border-top-right-radius: 25px;
  vertical-align: middle;
}

.sidebar li {
  width: 100%;
  font-size: 24px;
  height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  /* padding-left: 30px; */
}

.sidebar a {
  min-width: 100%;
  text-decoration: none;
  display: block;
  padding-left: 30px;
}
.sidebar li:hover {
  background-color: rgb(181, 142, 247);
}
.sidebar img {
  float: right;
  min-width: 10px;
  min-height: 10px;
  padding-right: 40px;
}
/* content section */
#main-content {
  margin-left: 400px;
  margin-top: 10px;
  width: 100%;
}
.text {
  width: 33%;
  float: left;
  height: 100px;
}
.text p {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: 50px;
  font-style: normal;
  color: rgb(255, 215, 0);
}
#main-content img {
  max-width: 600px;
  max-height: 600px;
  display: inline;
  border-radius: 50px;
  filter: grayscale(0.4);
  transition: 0.3s;
}
#main-content img:hover {
  filter: grayscale(0);
  transform: scale(1.1) rotate(3deg);
}
/* .title {
  text-align: center;
  padding-top: 100px;
  padding-left: 100px;
  font-size: 30px;
  width: 1200px;
  height: 1200px;
  color: red;
} */
/* .light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle at var(--x) var(--y),
    transparent 10%,
    rgba(0, 0, 0, 0.95)
  );
} */
