* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("images/background.avif");
}
.navigation {
  background-image: url("images/nav-background.jpg");
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.572);
}
.nav {
  display: flex;
  list-style: none;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
}
.nav .nav_img {
  min-width: 80px;
  min-height: 80px;
  max-width: 160px;
  max-height: 160px;
  display: inline;
}

.nav a img {
  min-width: 50px;
  min-height: 50px;

  padding-right: 0px;
}
.logOut {
  width: 140px;
  height: 60px;
  outline: none;
  background: transparent;
  vertical-align: middle;
  background-color: aqua;
  border-radius: 25px;
  align-items: center;
  vertical-align: middle;
}
.logOut button {
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
  border-radius: 25px;
}
.logOut button:hover {
  box-shadow: 0 0 100px rgb(255, 0, 234), 0 0 25px cyan;
}
.logOut button:active {
  background-color: rgba(39, 229, 10, 0.846);
  opacity: 0.7;
}
.logOut p {
  display: inline;
  vertical-align: 15px;
  text-decoration: none;
  color: red;
  font-size: 20px;
}

.logOut img {
  margin-left: 30px;
  margin-top: 10px;
  max-width: 40px;
  max-height: 40px;
  display: inline;
}
/* Side BAr */
.sidebar {
  position: fixed;
  top: 0px;
  left: -4000px;
  height: 100vh;
  width: 400px;
  z-index: 999;
  background-image: url("images/nav-background.jpg");
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
  transition: left 1s ease;
}
.sidebar li {
  width: 100%;
  font-size: 50px;
  height: 70px;
}
.sidebar a {
  min-width: 100%;
  text-decoration: none;
  display: block;
}
.sidebar a:hover {
  background-color: aquamarine;
}
.sidebar img {
  float: right;
  min-width: 50px;
  min-height: 50px;
}

/* content section */
#main-content {
  margin-left: 400px;
  margin-top: 10px;
  width: 100%;
}
.text {
  width: 33%;
  float: left;
  height: 100px;
}
.text p {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: 50px;
  font-style: normal;
  color: rgb(255, 215, 0);
}
#main-content img {
  max-width: 600px;
  max-height: 600px;
  display: inline;
  border-radius: 50px;
  filter: grayscale(0.4);
  transition: 0.3s;
}
#main-content img:hover {
  filter: grayscale(0);
  transform: scale(1.1) rotate(3deg);
}
.light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle at var(--x) var(--y),
    transparent 10%,
    rgba(0, 0, 0, 0.95)
  );
}
