* {
  margin: 0px;
  padding: 0px;
}
body {
  /* background-image: url("images/background.avif"); */
}
.navigation {
  /* background-image: url("images/nav-background.jpg"); */
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.899);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.navigation.hidden {
  opacity: 0; /* Hidden */
}
.nav {
  display: flex;
  list-style: none;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}

/* }
.nav-li {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 50px;
   background-color: #fefefe; 
padding: 10px 25px;
transition: 0.2s;
 } 
/* .nav-li:hover {
  color: #11101b;
  background-color: #fefefe;
} */
/* .liActive {
  color: #11101b;
  background-color: #fefefe;
} */
.menu_icon {
  padding-left: 2%;
  margin-bottom: 10px;
}
.nav_img {
  /* margin-left: 80px; */
  height: 100px;
  width: 33%;
  padding-left: 33%;
  padding-right: 25%;
  /* padding-bottom: 30px; */
}
.nav_img img {
  min-width: 30px;
  min-height: 40px;
  max-width: 130px;
  max-height: 70px;
  display: inline;
  padding-top: 5px;
}
.nav_img p {
  display: inline;
  font-size: 35px;
  vertical-align: 16px;
  color: white;
}
.nav a img {
  min-width: 50px;
  min-height: 50px;

  padding-right: 0px;
}
/* .logOut {
  width: 70px;
  height: 60px;
  outline: none;
  background: transparent;
  vertical-align: middle;
  background-color: aqua;
  border-radius: 25px;
  align-items: center;
  vertical-align: middle;
  padding-left: 20px;
}
.logOut button {
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
  border-radius: 25px;
} */
/* .logOut button:hover {
  box-shadow: 0 0 100px rgb(255, 0, 234), 0 0 25px cyan;
}
.logOut button:active {
  background-color: rgba(39, 229, 10, 0.846);
  opacity: 0.7;
} */
/* .logOut p {
  display: inline;
  vertical-align: 15px;
  text-decoration: none;
  color: red;
  font-size: 20px;
}
 */
.logOut {
  margin-right: 65px;
}
.logOut button a img {
  /* display: inline-block; */
  /* margin-left: 30px;
  margin-top: 10px; */
  max-width: 1px;
  max-height: 1px;
  /* padding-right: 20px;
  padding-top: 6px;
  padding-left: 1px; */
}
.logOut button a {
  display: inline-block;
}
.logOut a {
  clear: both;
  float: left;
  border: 1px solid aqua;
  border-radius: 30px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(198, 9, 9, 0.845);
  color: white;
  font-weight: 500;
  margin-left: 5px;
  font-size: 20px;
  text-decoration: none;
}

.logOut a button:hover {
  background-color: rgba(198, 9, 9, 0.845);
}

.logOut button a {
  display: inline;
}

.logOut button p {
  display: inline;
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 5px;
  vertical-align: 10px;
  transition: transform 0.3s;
}

/* .logOut button:hover p {
  visibility: visible;
} */

/* Side BAr */
.sidebar {
  background-color: rgb(194, 193, 231);
  margin-top: 100px;
  position: fixed;
  top: 0px;
  left: -4000px;
  height: 100vh;
  width: 15%;
  z-index: 999;
  /* background-image: url("images/nav-background.jpg"); */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 20px;
  transition: left 400ms ease;
  border-top-right-radius: 25px;
  vertical-align: middle;
}

.sidebar li {
  width: 100%;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: rgba(4, 9, 98, 0.5) 0.1px solid;

  /* padding-left: 30px; */
}

.sidebar a {
  min-width: 100%;
  text-decoration: none;
  display: block;
  padding-left: 30px;
}
.sidebar li:hover {
  background-color: rgb(181, 142, 247);
}
.sidebar img {
  float: right;
  min-width: 10px;
  min-height: 10px;
  padding-right: 40px;
}
/* PendingOrders */
.viewOrdersBody {
  /* background: linear-gradient(to right, #3494e6, #ec6ead); */
}
.viewOrders {
  margin: 3% 20% 0% 10%;
  width: 38%;
  max-width: 600px;
  padding: 3% 3%;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 3px solid rgb(252, 103, 49);
  border-bottom: 3px solid rgb(252, 103, 49);
  border-left: none;
  border-right: none;
  /* background: linear-gradient(to right top, #ff758c, #ff7eb3, #845ec2); */
  color: black !important;
}

.orderId {
  color: black;
  font-weight: 600;
  margin-bottom: 1%;
  margin-right: 5%;
  padding: 0 35% 0% 30%;
  font-size: 20px;
  display: block;
  height: 20px;
  float: right;
}
.table {
  /* float: left; */
  display: block;
  margin-top: 10%;
  margin-left: 1%;
  width: 100%;
  font-size: 20px;
}
.heading {
  width: 100%;
  height: 30px;
}
.heading .one {
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
}
.heading .two {
  width: 80%;
  padding-left: 5%;
  padding-right: 3%;
}
.order {
  width: 100%;
  height: 30px;
}
.order .one {
  width: 80%;
  padding-left: 30%;
  padding-right: 5%;
}
.order .two {
  width: 80%;
  padding-left: 13%;
  padding-right: 5%;
}
.price {
  font-size: 20px;
  margin-left: 20%;
}
.price span {
  /* margin-left: 60%; */
  color: black;
}

@media only screen and (max-width: 600px) {
  .navigation {
    height: 70px;
  }
  .menu_icon {
    margin-bottom: 25px;
  }
  .menu_icon a img {
    max-width: 1px;
    max-height: 1px;
  }
  .nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nav_img {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .nav_img img {
    max-width: 230%;
    max-height: 50px;
    padding-top: 5px;
  }

  .nav_img p {
    display: inline;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .logOut {
    margin: 0;
    text-align: center;
  }

  /* .logOut button a {
    display: block;
    margin: 0 auto;
  } */

  .logOut a {
    margin: 10px 10px 30px 1px;
  }

  .sidebar {
    margin-top: 65px;
    left: -100%;
    width: 45%;
  }

  .sidebar li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* .sidebar a img {
    padding-right: 20px;
  } */

  /* Pending Orders */
  .viewOrders {
    margin: 3% 5%;
    width: 70%;
    padding: 3%;
  }

  .orderId {
    margin-right: 0;
    padding: 0;
    text-align: center;
  }

  .table {
    margin-top: 5%;
  }

  .heading .one,
  .heading .two,
  .order .one,
  .order .two {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
  }

  .price {
    margin-left: 0;
  }
}
