<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <script src="static/script.js"></script>
  </head>
  <body>
    <nav class="navigation">
      <ul class="nav">
        <li class="menu_icon">
          <a href="" onclick="showSideBar(event)"
            ><img src="static\menu_icon.svg" alt=""
          /></a>
        </li>
        <li class="nav_img">
          <img src="static\logo.png" alt="" />
          <p>Meal Mate</p>
        </li>
        <li class="logOut">
          <button>
            <img src="static/logout.png" alt="" />
            <!-- <p href="">LogOut</p> -->
          </button>
        </li>
      </ul>
    </nav>
    <ul class="sidebar">
      <a href="" onclick="hideSideBar(event)"
        ><img src="static/X_icon.svg" alt=""
      /></a>
      <li style="border-top: 0.1px solid rgba(4, 9, 98, 0.500)">
        <a href="/">Pending Request</a>
      </li>
      <li><a href="/uploadMenu">Menu Upload</a></li>
      <li><a href="">View orders</a></li>
    </ul>
    {% block content %} {% endblock %}
    <!-- <div class="light"></div> -->
  </body>
</html>
