<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for item in items %}
    <br />
    <img src="static/food_pics/{{item.image}}" width="400" height="250" />
    <p>{{item.item_name}}</p>
    <p>Rs.{{item.item_price}}</p>
    <p>Quantity : {{item.quantity}}</p>
    <a href="/deleteCart/{{item.sno}}">Remove item</a>
    <br><br>
    <hr />
    {% endfor %}
    <a href="/bill">Proceed to Payment</a>
</body>
</html>