{% extends 'studentBase.html' %}{% block head2 %}
<script src="static\customerCart.js"></script>
{% endblock %}{% block contentStudent %}
<body>
  <div class="food_item">
    {% for item in items %}
    <div id="{{item.sno}}" class="view_list">
      <br />
      <img src="static/food_pics/{{item.image}}" width="400" height="250" />
      <p>{{item.item_name}}</p>
      <br />
      <p>Rs.{{item.item_price}}</p>
      <p>Quantity : {{item.quantity}}</p>
      <br />
      <a href="/updateQuantity/{{item.sno}}">Update Quantity</a>

      {% if opp %} {% if sno|string == item.sno|string %}
      <form method="POST">
        {{form.hidden_tag()}} {{form.quantity.label()}} {{form.quantity()}}
        {{form.submit()}}
        <br /><br />
      </form>
      {% endif %} {% endif %}

      <a href="/deleteCart/{{item.sno}}">Remove item</a><br /><br />

      <br /><br />
    </div>
  </div>
  {% endfor %}
  <center><a class="btn" href="/bill">Proceed to Payment</a></center>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var element = document.getElementById("{{ sno }}");
      if (element) {
        element.scrollIntoView({ behavior: "instant" });
      }
    });
  </script>
</body>
{% endblock %}
