{% extends 'studentBase.html' %}{% block head2 %}
<script src="static\CustomerMenu.js"></script>
{% endblock %}{% block contentStudent %}
<body class="view_menu">
  {% for food in compMenu %}
  <div class="view_list">
    
    <img src="static/food_pics/{{food.image}}" width="400" height="250" />
    <br>
    <p>{{food.name}}: &nbsp;Rs.{{food.price}} </p> <br>
    <p>Availability:  {{food.from_time}} - {{food.to_time}}</p>
    <br /> <br/>
    <a href="/add_to_cart/{{food.id}}">Add to Cart</a>
    <br />
  </div>
  {% endfor %}
</body>
{% endblock %}