<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animation background</title>
    <link rel="stylesheet" href="static\empErrorPage.css"
</head>
<body>
    <div class="wrapper">
        <h2>Entry Restricted Only for Employees</h2>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>
</html>