{% extends 'base.html' %} {% block header1 %}
<link rel="stylesheet" href="static/employee_home.css">
<script src="static/script.js"></script>
{% endblock %} {% block content %}

  <html>
<head>
    <title>Page</title>
    <link rel="stylesheet" href="employ.css">
</head>
<body>
    <div class="hero">
        <div class="navbar">
        </div>
        <div class="content">
            <br>
            <h1>Employee Portal</h1>
            
        </div>
        <div class="bubbles">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
            <img src="static/bubble.png">
        </div>
    </div>
</body>
</html>

{% endblock %}
