{% extends 'studentBase.html' %} {% block head2 %}
<script src="static\pendingOrdersScript.js"></script>
{% endblock %} {% block contentStudent %} {% for order in list_of_orders %}
<body class="viewOrdersBody">
  <div class="viewOrders">
    <p >{{ order[4] }}</p>
    <p class="orderId">Order Id : {{ order[3] }}</p>

    <table class="table">
      <tr class="heading">
        <th class="one">Item Name</th>
        <th class="two">Quantity</th>
      </tr>

      {% for item in order[1] %}

      <tr class="order">
        <td class="one">{{ item[0] }}</td>
        <td class="two">{{ item[1] }}</td>
      </tr>

      {% endfor %}
    </table>

    <br />

    <p class="price">Total Price : {{ order[2] }}</p>
  </div>
</body>
{% endfor %} {% endblock %}
