<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for order in list_of_orders %}

        <br>
        <p>{{ order[4] }}</p>
        <p>Order Id : {{ order[3] }}</p>

        <table>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
            </tr>

            {% for item in order[1] %}

            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
            </tr>

            {% endfor %}

        </table>

        <br>

        <p>Total Price : {{ order[2] }}</p>

        <br>

        <hr>

    {% endfor %}
</body>
</html>


