{% extends 'base.html' %}

{% block content %}

{% for order in list_of_orders %}

    <br>
    
    <p>Email : {{ order[1] }}</p>

    <br>

    <table>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
        </tr>

        {% for item in order[2] %}

        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        
        {% endfor %}

    </table>

    <br>

    <p>Total Price : {{ order[3] }}</p>

    <br>

    <a href="/deleteOrder/{{order[0]}}">Order Served</a>

    <br>

    <hr>

{% endfor %}


{% endblock %}