{% extends 'base.html' %} {% block header1 %}
<script src="static/scriptViewOrders.js"></script>
{% endblock %} {% block content %} {% for order in list_of_orders %}
<body class="viewOrdersBody">
    <div class="viewOrders">
      <p>{{ order[4] }}</p>
      <p>Order Id : {{ order[0] }}</p>
      <p class="title">Email : {{ order[1] }}</p>

      <!-- <br /><br /><br /><br /><br /> -->
      <table class="table">
        <tr class="heading">
          <th class="one">Item Name</th>
          <th class="two">Quantity</th>
        </tr>

        {% for item in order[2] %}

        <tr class="order">
          <td class="one">{{ item[0] }}</td>
          <td class="two">{{ item[1] }}</td>
        </tr>

        {% endfor %}
      </table>

      <br />

      <p class="price">Total Price : <span>{{ order[3] }}</span></p>

      <br />

      <a href="/deleteOrder/{{order[0]}}" class="delete_order">Order Served</a>
    </div>

  <!-- <hr /> -->
</body>
{% endfor %} {% endblock %}
